[Unit]
Description=Task Tracker Web Application Socket
PartOf=mywebapp.service

[Socket]
ListenStream=127.0.0.1:3000
Accept=false

[Install]
WantedBy=sockets.target

